body {
	font-family: 'Open Sans', sans-serif;
}

[v-cloak] {
	display: none;
}

.form {
	background-color: #83bbe5;
	border-radius: 5px;
	max-width: 500px;
	min-width: 330px;
	padding: 24px 0;
	margin: 0 auto;
}

h1 {
	color: white;
	margin: 0;
	text-align: center;
}

.serviceSection {
	background-color: #de5f85;
	border-radius: 5px;
	height: 64px;
	margin: 24px 24px;
}

.serviceSection:hover {
	background-color: #a3d977;
	cursor: pointer;
}

.serviceSection:active {
	background-color: #99ce6f;
	box-shadow: 0 2px 6px #bbb inset;
}

h3 {
	color: white;
	float: left;
	margin: 0;
	padding: 19px 24px;
	text-align: left;
}

p {
	color: white;
	float: right;
	margin: 0;
	padding: 21px 24px;
}

.totalSection {
	height: 64px;
	margin: 12px 24px;
}

.totalPrice {
	font-weight: bold;
}